* {
    margin: 0;
    padding: 0;
}

/* common styles  */
.btn-primary {
    padding: 20px 35px;
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: white;
}

.description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* banner section styles  */
.banner-section {
    background: rgba(229, 84, 115, 0.10);
}

.banner-container {
    display: flex;
    height: 700px;
    width: 1140px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.banner-title {
    color: #272727;
    font-size: 62px;
    font-weight: 800;
}

.banner-picture {
    width: 500px;
    height: 600px;
    padding-top: 100px;
}

/* featured flowers styels  */
.featured-section {
    margin-top: 158px;

}

.featured-flowers-container {
    text-align: center;
}

.title {
    color: #272727;
    font-size: 36px;
    font-weight: 800;
}

.individual-flower {
    text-align: center;

}

.featured-img-1 {
    width: 350px;
    height: 400px;
    margin-top: 25px;
    margin-bottom: 15px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);

}

.featured-img-2 {
    width: 350px;
    height: 400px;
    margin-top: 25px;
    margin-bottom: 15px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);

}

.featured-img-3 {
    width: 350px;
    height: 400px;
    margin-top: 25px;
    margin-bottom: 15px;
    border-radius: 200px 200px 0px 0px;
    background: rgba(71, 125, 17, 0.15);

}

.flowers-section {
    display: flex;
    /* align-items: center; */
    width: 1140px;
    height: 500px;
    align-items: center;
    margin: 0 auto;
    gap: 40px;


}

.flowers-container {
    margin-top: 50px;
}

.mini-section {
    margin-top: 116px;
}

.mini-container {
    width: 1140px;
    height: 280px;
    margin: 0 auto;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}

.info {
    text-align: center;
}

.info-description {
    color: rgba(39, 39, 39, 0.80);
    font-size: 16px;
    font-weight: 600;
}

/* hot deal section styles  */
.description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* banner section styles  */
.hot-deal-section {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 120px;
}

.hot-deal-container {
    display: flex;
    height: 600px;
    width: 1140px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.hot-deal-title {
    color: #272727;
    font-size: 42px;
    font-weight: 800;
}

.span-red {
    color: #E55473;
}

/* Instagram section styles  */
.instagram-section {
    margin-top: 110px;
}

.instagram-details {
    text-align: center;
}

.instagram-pictures {
    display: flex;
    width: 1140px;
    height: 400px;
    margin: 0 auto;
    gap: 20px;
}

.instagram-img {
    width: 260px;
    height: 320px;
    margin-top: 25px;
    margin-bottom: 15px;
    background: rgba(5, 151, 160, 0.15);

}

/* latest deals section styles  */
/* .latest-deal-section{
    
    display: flex;
    align-items: center;
} */
.latest-deal-section {
    width: 1140px;
    height: 400px;
    margin: 0 auto;
    background-image: url("../Flower\ Asset/Rectangle 9.png"), linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.latest-deal-container input {
    width: 600px;
    height: 50px;
    border-radius: 8px;
    background: #FFF;
    border:0;
    margin-right: 10px;
    padding-left: 10px;
}